<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org"
	th:replace="~{base::layout(~{::title},~{::section})}">
<head>
<meta charset="UTF-8">
<title>About</title>

</head>
<body>

	<!-- <img style="object-fit: cover; width:100%; height:100vh; color: linear-gardient(to right, rgba(0,0,0,1), rgba(0,0,0,1))" th:src="@{/img/parking-slot.jpg}" alt="parking img" /> -->
	<section style="margin-top: 0; padding: 0">

		<div class="aboutBanner  text-center p-3 "
			style="margin: 0; padding: 0">
			<h1 class="title">EASY-PARK</h1>
			<h4 class="moto">"Effortless Parking Solutions with EASY-Park:</h4>
			<h4 class="moto">Your Key to Stress-Free Parking!"</h4>

			<div class="container mt-5">
				<div class="row">
					<div class="col-md-3" style="margin-left: 150px">
						<div class="card">
							<div class="cardbody">

								<p class="advantage mt-3 card-height" style="color: black">EASY-Park
									provides seamless online reservations, eliminating the hassle
									of searching for parking. Users can secure spots effortlessly
									at their preferred location and time.</p>

							</div>
						</div>
					</div>
					<div class="col-md-3 ">
						<div class="card">
							<div class="cardbody">

								<p class="advantage mt-3 card-height" style="color: black">EASY-Park
									saves time and money by enabling users to compare parking rates
									and locations for cost-efficient choices. It minimizes search
									time, letting users focus on their activities without parking
									concerns.</p>

							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="card">
							<div class="cardbody">

								<p class="advantage mt-3 card-height" style="color: black">EASY-Park
									offers real-time updates on parking availability, enabling
									users to find accurate information instantly. Live tracking of
									spaces during peak hours ensures efficient adjustments and
									minimizes frustration.</p>

							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="container mt-5 text-left">
				<p>Welcome to EASY-PARK, your ultimate online parking booking
					system designed to revolutionize your parking experience. Say
					goodbye to the stress of circling endlessly to find a spot and
					embrace the convenience of effortless reservations at your
					fingertips. With EASY-PARK, securing a parking spot is just a few
					clicks away, providing you with a seamless and hassle-free parking
					solution. Discover the advantages of time and cost efficiency as
					EASY-PARK allows you to compare parking rates and locations,
					ensuring you choose the most cost-effective option for your needs.
					No more wasting precious time searching for parking; our system
					minimizes the search process, letting you focus on your plans,
					commitments, and enjoyment. Stay ahead of the game with our
					real-time updates on parking spot availability. Whether it's a busy
					event or peak hours, you'll have accurate information on available
					spaces, allowing you to adjust your plans on the go and easily find
					parking, even in the busiest of times. Efficiency and convenience
					are at the heart of EASY-PARK, reducing frustrations and leaving
					you with a seamless parking experience. Make parking a breeze with
					EASY-PARK. Reserve your parking spot now and unlock a stress-free
					journey to your destination. Embrace the future of parking
					convenience with EASY-PARK today.</p>

			</div>

			<hr class="rounded ml-5 mr-5 mt-5" />


			<div class="container mt-5">
				<div class="row">
					<div class="col-md-4 m-0">
						<div class="card-transparent">
							<div class="cardbody text-left">

								<h4>Our services:</h4>
								<ul>
									<li>Parking Spot Reservations</li>
									<li>Real-Time Availability Updates</li>
									<li>Cost Comparison</li>
									<li>Secure Payment Processing</li>
									<li>Mobile App Accessibility</li>
									<li>Flexible Cancellation Policy</li>
									<li>VIP and Premium Services</li>
									<li>Customer Support</li>
								</ul>

							</div>
						</div>
					</div>
					<div class="col-md-4 ">
						<div class="card-transparent">
							<div class="cardbody text-left">

								<h4>Our Policies:</h4>
								<ul>
									<li><a href="#">Privacy Policy</a></li>
									<li><a href="#">Terms of Service</a></li>
									<li><a href="#">Refund and Cancellation Policy</a></li>
									<li><a href="#">Security Measures</a></li>
									<li><a href="#">Customer Support Policy</a></li>

								</ul>

							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="card-transparent">
							<div class="cardbody text-left">

								<h4>Our Goal:</h4>
								<p>"Our goal at EASY-PARK is to revolutionize the parking
									experience by providing a user-friendly online platform that
									enables seamless parking spot reservations, real-time
									availability updates, and cost-efficient options. We strive to
									enhance convenience, save valuable time and money for our
									users, and offer exceptional customer support, making parking
									stress-free, efficient, and rewarding."</p>

							</div>
						</div>
					</div>
				</div>
			</div>






		</div>

	</section>
</body>
</html>