<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org"
	th:fragment="layout(title,content)">
<head>
<meta charset="UTF-8">
<title th:replace="${title}"></title>

<!-- Bootstrap links for CSS -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">

<!-- Local CSS File link -->

<link rel="stylesheet" th:href="@{/css/mycss.css}">


</head>
<body>

	<!-- NavBar content -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-custom">
		<a class="navbar-brand" href="#">EASY-PARK</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active"><a class="nav-link" th:href="@{/}">Home
						<span class="sr-only">(current)</span>
				</a></li>
				
				
				
				<li class="nav-item"><a class="nav-link" th:href="@{/about}">About</a></li>

				<li class="nav-item"><a class="nav-link " th:href="@{/contact-us}">Contact
						Us</a></li>
				
				
				<li class="nav-item" style="float: right"><a class="nav-link "
					th:href="@{/adlogin}">Login</a></li>
					<!-- <li class="nav-item" style="float: right"><a class="nav-link "
					th:href="@{/adlogin}">USER Login</a></li> -->
				<li class="nav-item"><a class="nav-link " th:href="@{/register}">Register</a>
				</li>
			</ul>

		</div>
	</nav>

	<div th:replace="${content}"></div>


</body>
</html>