<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org"
	th:replace="~{base::layout(~{::title},~{::section})}">
<head>
<meta charset="UTF-8">
<title>Contact Us</title>

</head>
<body>

	<!-- <img style="object-fit: cover; width:100%; height:100vh; color: linear-gardient(to right, rgba(0,0,0,1), rgba(0,0,0,1))" th:src="@{/img/parking-slot.jpg}" alt="parking img" /> -->
	<section style="margin-top: 0; padding: 0">

		<div
			class="contactBanner d-flex justify-content-center align-items-center">
			<h3>We Provide Best Solution For Your Vehical Parking</h3>

		</div>
		<div class="container mt-5">
			<h4>Have a question or need assistance with your parking
				reservation? We're here to help! Feel free to reach out to our
				friendly customer support team for any inquiries or support you may
				need. Your satisfaction is our top priority, and we're committed to
				making your parking experience with EASY-PARK a seamless and
				enjoyable one.</h4>

			<h5 class="mt-5">Contact Information:</h5>
			<h6>Email: support@easypark.com</h6>
			<h6>Phone: +1 (800) 123-4567</h6>

			<h5 class="mt-5">Operating Hours:</h5>
			<h6>Monday to Friday: 8:00 AM - 8:00 PM (EST)</h6>
			<h6>Saturday and Sunday: 10:00 AM - 6:00 PM (EST)</h6>


			<br />
			<br />
			
			

			<p>We aim to respond to all inquiries promptly, typically within
				24 hours during our regular business hours. For urgent matters or
				assistance during non-operating hours, please leave us a message or
				send us an email, and we'll get back to you as soon as possible. If
				you have any feedback, suggestions, or concerns about our services,
				we'd love to hear from you. Your valuable input helps us
				continuously improve our platform and better cater to your parking
				needs. Connect with us today, and let EASY-PARK take care of your
				parking reservations, making your journeys stress-free and
				convenient. Thank you for choosing EASY-PARK.</p>


		</div>

	</section>
</body>
</html>