<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	th:replace="~{base::layout(~{::title},~{::section} )}">
<head>
<meta charset="UTF-8">
<title>Register Here</title>
</head>
<body>
	<section class="bg-s" style="height: 1000px">
		<div class="container loginBanner" style="height: 150vh">
			<div class="row">
				<div class="col-sm-6 offset-3 mt-5">
					<div class="card bg-custom mt-5">
						<form th:action="@{/doRegister}" method="post" th:object="${user}">
							<div class="form-group mt-3">
								<div th:if="${session.message}"
									th:classappend="${session.message.type}"
									class="alert text-center text-red" role="alert">
									<p th:text="${session.message.content}"></p>
									<th:block th:text="${@closeSession.removeSession()}"></th:block>

								</div>
								<div class="text-center text-white">

									<i class="fa fa-user-plus" style="font-size: 48px;"></i>
								</div>

								<h1 class="text-center text-white">Signup</h1>
							</div>
							<div class="form-group ml-3 mr-3 text-white">


								<label for="exampleInputName">Name:</label> <input type="text"
									name="name" class="form-control" id="exampleInputName"
									placeholder="Enter Name">
								<!-- th:classappend="${#fields.hasErrors('userName')}? 'is-invalid' : '' " -->

								<!-- <p style="color:#FF78C4; font-size:15px" th:each="e: ${#fields.errors('userName')}" th:text="${e}"></p> -->


							</div>
							<div class="form-group ml-3 mr-3 text-white">


								<label for="exampleInputEmail1">Email address:</label> <input
									type="email" name="email" class="form-control"
									id="exampleInputEmail1" placeholder="Enter email">

								<!-- <p style="color:#FF78C4; font-size:15px" th:each="e : ${#fields.errors('email')}" th:text="${e}"></p> -->

							</div>
							<div class="form-group ml-3 mr-3 text-white">
								<label for="exampleInputPassword1">Password:</label> <input
									type="password" name="password" class="form-control"
									id="exampleInputPassword1" placeholder="Password">
								<!-- <p style="color:#FF78C4; font-size:15px" th:each="e : ${#fields.errors('password')}" th:text="${e}"></p> -->
							</div>

							<!-- 			<div class="form-group ml-3 mr-3 text-white">


								<label for="exampleInputRole">User Role:</label> 
								<input type="text"
									name="userrole" 
									class="form-control" 
									id="exampleInputRole"
									placeholder="Enter User Role">

							</div> -->
							<div class="form-row align-items-center form-group ml-3 mr-3 text-white">
								<div class="col-auto my-1">
									<label class="mr-sm-2" for="inlineFormCustomSelect">Preference</label>
									<select class="custom-select mr-sm-2"
										id="inlineFormCustomSelect" name="role">
										<option selected>Choose Role</option>
										<option  value="ROLE_ADMIN">ADMIN</option>
										<option value="ROLE_USER">USER</option>
										<!-- <option value="3">Three</option> -->
									</select>
								</div>
								</div>

								<div class="form-group ml-3 mr-3 text-white">

									<label for="exampleInputAbout">About Yourself:</label>
									<textarea class="form-control" rows="5" name="about"></textarea>

								</div>

								<!-- <div class="form-group ml-3 mr-3 text-white">
							
							<label for="exampleInputAbout">Select Profile Picture:</label>
							<input type="file" name="userImage" class="form-control" />
							
							</div> -->
								<div class="form-check ml-3 mr-3">
									<input type="checkbox" class="form-check-input" name="check"
										id="exampleCheck1"> <label
										class="form-check-label text-white" for="exampleCheck1">Check
										me out</label>
								</div>
								<div class="text-center mb-5">
									<button type="submit" class="btn bg-s font-weight-bold  ">Submit</button>
									<button type="reset" class="btn btn-warning font-weight-bold  ">Reset</button>
								</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

</body>
</html>