/*  body{
	margin:0;
	margin-top:-20px;
	padding:0;

	} */
.bg-custom{
	background: #316dad;
}

.banner{
	width: 100%;
	height:92vh;
	background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url("../img/parking-slot.jpg");
	background-size: cover;
	object-fit:cover;
	color:white;
}
.aboutBanner{
	
	width: 100%;
	height:180vh;
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("../img/parkk.jpg");
	background-size: cover;
	color:#FAF9F6;
	
}

.title{
	text-shadow: 5px 5px 10px red;
}
.moto{
	text-shadow: 5px 5px 8px skyblue;
}

.advantage{
	box-sizing: border-box;
	padding:25px;
	background:lightblue;
}

.card-height{
	height: 250px;
}

hr.rounded{
	border-top: 5px solid white;
	border-radius: 50%;
	color: white;
	
}

.contactBanner{
	width: 100%;
	height:50vh;
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("../img/paarking.jpeg");
	background-size:fit;
	color:#FAF9F6;
}

.loginBanner{
	width: 100%;
	height:95vh;
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("../img/parking-slot.jpg");
	background-size:cover;
	color:#FAF9F6;
}

.con{
	width:25%;
	margin-top:5px;
	height:100vh;
	float:left;
}
.sidebarad{
	position:relative;
	display:fixed;
	list-style:none;
	display: block;
	width:100%;
	padding-top:25px;
	
		
}

.sidebarad a{
	font-size:20px;
	color:white;
	display:block;
	margin:0;
	padding: 7px 30px;
	width:100%;
}

.con a:hover{
	
	background: #e2e2e2;
	color:black;
}

.content{
	width:70%;
	float:right;
	
}

.price{
	font-size:25px;
	padding-top:100px;
	padding-bottom:300px;
	margin:auto;
	padding-bottom:300px;
}
.slot{
	padding:25px 25px;
	
}
.booking{
	width:150px;
	height:80px;
	margin-top:10px;
	overflow:hide;
}

.back{
	background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url("../img/park.jpeg");
	height:100vh;
	background-size: cover;
}
.userprice{
	font-size:25px;
	padding-top:100px;
	/* padding-left:200px; */
	margin-left:265px;
	
}
.car{
	box-sizing:border-box;
	height:120px;
	
}
