<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" th:replace="~{normal/adbase::layout(~{::title},~{::section} )}">
<head>
<meta charset="UTF-8">
<title>dashboard</title>
</head>
<body>
<section>
 <div class="content">
        <!-- Header and User Profile... -->

        <!-- Main content area -->
        <div class="container mt-4">
            <h1>Welcome to Your EASY-PARK Dashboard</h1>
            <p>This is your dashboard for managing your EASY-PARK parking bookings and preferences.</p>

            <div class="row mt-4">
                <div class="col-md-6">
                    <h2>Book a Parking Slot</h2>
                    <p>Explore available parking slots, check their locations, and book slots for your vehicle.</p>
                    <p>Receive confirmation of your booking and access details.</p>
                    <p>Manage your upcoming and past bookings.</p>
                </div>
                <div class="col-md-6">
                    <h2>Manage Your subscription plans</h2>
                    <p>You can book your slots manually everyday or as per your duration of time.</p>
                    <p>If youn want your reserved parking forever so no need to book everyday just Subscribe one of or plan as per your choice.</p>
                    <p>It provides addditional benifits like vehical dusting, washing once a week and secured parking spot.</p>
                </div>
            </div>
        </div>
    </div>


</section>

</body>
</html>