
<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org"
	th:replace="~{base::layout(~{::title},~{::section})}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>About - BookParadise</title>


</head>
<body>
	<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">BookParadise</a>
    </nav> -->
	<section>

		<div class="container about-section">
			<h1 class="about-heading">About BookParadise</h1>
			<p>Welcome to BookParadise, your online destination for a wide
				range of books from various genres. Our mission is to provide book
				lovers with access to their favorite authors and titles, all in one
				place. With a vast collection of fiction, non-fiction, classics, and
				more, we aim to cater to every reading preference. Enjoy browsing
				our website and discovering your next literary adventure!</p>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="card feature-card ml-3 mt-3 mb-5" style="height: 250px">
					<div class="card-body">
						<h5 class="card-title">Quick Links</h5>
						<ul class="feature-list">
							<li><a href="#terms">Terms and Conditions</a></li>
							<li><a href="#legal">Legal Policies</a></li>
							<li><a href="#refund">Refund Policies</a></li>
							<li><a href="#return">Return Policies</a></li>
							<li><a href="#delivery">Delivery Conditions</a></li>
						</ul>
					</div>
				</div>

			</div>

			<div class="col-md-4">
				<div class="card feature-card mt-3 mb-5" style="height: 250px">
					<div class="card-body">
						<h5 class="card-title">Key Features</h5>
						<ul class="">
							<li>Wide selection of books across genres</li>
							<li>Easy and secure online ordering</li>
							<li>Fast and reliable delivery</li>
							<li>User-friendly interface</li>
							<li>Responsive customer support</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="card feature-card mt-3 mb-5 mr-3" style="height: 250px">
					<div class="card-body">
						<h5 class="card-title">Our Goal</h5>
						<p>"BookParadise strives to be the ultimate online destination
							for book lovers, offering an extensive collection across genres.
							Our mission is to deliver a seamless shopping experience with
							user-friendly navigation, secure transactions, and prompt
							customer support."</p>
					</div>
				</div>
			</div>

		</div>

		<footer class="bg-dark text-white text-center py-3"> &copy;
			2023 BookParadise. All rights reserved. </footer>





	</section>
</body>
</html>