<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org"  th:replace="~{admin/base::layout(~{::title},~{::section})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>


<section>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="card">
			<div class="cardbody">
			
			<h3 class="text-center m-3">Change Password</h3>
			<div  th:if="${session.message}" th:classappend="${session.message.type}">
			
			<p th:text="${session.message.content}"></p>
			<th:block th:text="${@closeSession.removeSession()}"></th:block>
			
			</div>
			
			<form class="m-3" th:action="@{/admin/changePassword}" method="post">
			
			<div class="form-group">
			
			<input type="password" class="form-control" name= "old" placeholder="Enter Old Password" />
			
			</div>
			<div class="form-group ">
			<input type="password" class="form-control" name= "new" placeholder="Enter new Password" />
			</div>
			
			<div class="container text-center">
			<button type="submit" class="btn btn-success">Change</button>
			<button type="reset" class="btn btn-warning">reset</button>
			</div>
			
			</form>
			
			</div>
			
			</div>
		</div>
	</div>
</div>

</section>

</body>
</html>