<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org"
	th:replace="~{base::layout(~{::title},~{::section})}">
<head>
<meta charset="UTF-8">
<title>About</title>

</head>
<body>

	<!-- <img style="object-fit: cover; width:100%; height:100vh; color: linear-gardient(to right, rgba(0,0,0,1), rgba(0,0,0,1))" th:src="@{/img/parking-slot.jpg}" alt="parking img" /> -->
	<section style="margin-top: 0; padding: 0">

		<div class="aboutBanner  text-center p-3 "
			style="margin: 0; padding: 0">
			<h1 class="title">HealthZone</h1>
			<h4 class="moto">"Simplify Your Doctor Appointment Scheduling
				With Us.</h4>
			<h4 class="moto">Your Key to Stress-Free Appontments!"</h4>

			<div class="container mt-5">
				<div class="container">
					<ul>
						<li>Convenience: Patients can book appointments at any time.</li>
						<li>Accessibility: Available 24/7 from anywhere with an
							internet connection.</li>
						<li>Reduced Wait Times: Helps minimize waiting room
							congestion.</li>
						<li>Instant Confirmation: Provides immediate appointment
							confirmation.</li>
						<li>Flexible Rescheduling: Easy to reschedule or cancel
							appointments.</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="container mt-5 text-left">
			<p>HealthZone's online doctor appointment scheduling system
				redefines healthcare accessibility. Patients can effortlessly book,
				modify, or cancel appointments anytime, eliminating waiting times
				and ensuring instant confirmations. This innovative solution
				empowers individuals to take control of their health journey while
				embracing convenience and efficiency. With HealthZone, healthcare
				scheduling becomes stress-free, streamlining the path to well-being.</p>

		</div>

		<hr class="rounded ml-5 mr-5 mt-5" />


		<div class="container mt-5">
			<div class="row">
				<div class="col-md-4 m-0">
					<div class="card-transparent">
						<div class="cardbody text-left">

							<h4>Our services:</h4>
							<ul>
								<li>Effortless appointment booking</li>
								<li>24/7 accessibility</li>
								<li>Immediate appointment confirmations</li>
								<li>Flexible rescheduling and cancellations</li>
								<li>Reduced waiting room congestion</li>
								<li>Streamlined healthcare access</li>
							</ul>

						</div>
					</div>
				</div>
				<div class="col-md-4 ">
					<div class="card-transparent">
						<div class="cardbody text-left">

							<h4>Our Policies:</h4>
							<ul>
								<li><a href="#">Privacy Policy</a></li>
								<li><a href="#">Terms of Service</a></li>
								<li><a href="#">Refund and Cancellation Policy</a></li>
								<li><a href="#">Security Measures</a></li>
								<li><a href="#">Customer Support Policy</a></li>

							</ul>

						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card-transparent">
						<div class="cardbody text-left">

							<h4>Our Goal:</h4>
							<p>"Our goal is to redefine healthcare access through
								HealthZone's online scheduling system, providing patients with
								seamless appointment management and immediate confirmations,
								enhancing convenience and well-being."</p>

						</div>
					</div>
				</div>
			</div>
		</div>






		</div>

	</section>
</body>
</html>